doctype html
html
  head
    title Quill Platform - Application Form
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" href=config.get('cssUrl'))
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #app
    script(type="text/javascript" src=config.get("jsUrl"))